# Biến môi trường cho Frontend

# API Backend
VITE_API_URL=http://localhost:5000/api

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# Firebase
VITE_FIREBASE_API_KEY="AIzaSyCzLTfd4OyEXQMEN49_n1t_sPLBLYqkbjI",
VITE_FIREBASE_AUTH_DOMAIN="pawcare-a8fdd.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="pawcare-a8fdd",
VITE_FIREBASE_STORAGE_BUCKET="pawcare-a8fdd.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="75453195831",
VITE_FIREBASE_APP_ID="1:75453195831:web:2ab4a5118ce87581d401b2",
